@use "/src/styles/utils/mixins" as mixins;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	user-select: none;
}

html {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	@include mixins.custom-scrollbar($size: 6px);
}

body {
	min-height: 100vh;
	background-color: var(--background-primary);
	overflow-x: hidden;
}

main {
	min-height: 10vh;
}

// This fixes iphone input issue
input,
input:before,
input:after {
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}