.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: var(--mainPadding);

    & > button {
        margin-top: 1em;
    }

    .templateSection {
        display: flex;
        flex-direction: column;
        gap: .1em;

        .label {
            font-weight: 700;
        }

        .img {
            width: 250px;
            height: 250px;
            object-fit: contain;
            border: var(--main-border);
        }
    }

    .imgResult {
        width: 400px;
        height: 400px;
        border: var(--main-border);
        object-fit: contain;
    }
}